body {
    font-family: Arial, sans-serif;
    background: pink;
}
button{
    color: #87051b;
    background: #d8d8d8;
    border-radius: 5px;
    border: 2px solid #d58c8c;
}

#filter, #recipes {
    margin: 20px;
}
.recipe {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.recipe:hover {
    background-color: #f0f0f0;
}

#recipes > div {
    border: 2px solid #d58c8c;
    padding: 10px;
    margin-bottom: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px darkred;
    width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}


